.logo {
  pointer-events: none;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

header {
  background-color: #2B2B2B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header h1 {
  font: 90px/1.1em 'opensans-bold', sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}


header p {
  font-size: 90px;
}

.App-link {
  color: #61dafb;
}