p{
  font-family: 'Monoton', cursive;
}
a, span{
  font-family: 'Bangers', cursive;
}
a {
  opacity: 0.75;
  text-decoration: none;
  color: #fff;
}
a:hover{
  opacity: 1;
}
code{
  font-family: 'Press Start 2P', cursive;
}
h1{
  font-family: 'Monoton', cursive;
}
h2{
  font-family: 'Roboto Mono', monospace;
}
h3{
  font-family: 'Anton', sans-serif;
}
h4{
  font-family: 'Permanent Marker', cursive;

}
h5{
  font-family: 'Orbitron', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* 
  TODO build a nice grid layout
  main/
      header/
      section/
              article/

*/
main {
  text-align: center;
}

.logo {
  pointer-events: none;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

header {
  background-color: #2B2B2B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header h1 {
  /* font: 90px/1.1em 'opensans-bold', sans-serif;
  font-family: 'Press Start 2P', cursive; */
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}


header p {
  font-size: 90px;
}

.App-link {
  color: #61dafb;
}